[gcode_macro UNLOAD_FILAMENT]
gcode:
    M83
    G1 E10 F300
    G1 E-780 F1800
    M82

[gcode_macro LOAD_FILAMENT]
gcode:
    M83
    G1 E750 F1800
    G1 E30 F300
    G1 E15 F150
    M82

[gcode_macro G29]
gcode:
    BED_MESH_CALIBRATE
    BED_MESH_OUTPUT
    
[gcode_macro PART_COOLING_FAN_ON]
gcode:
    M106 S255

[gcode_macro PART_COOLING_FAN_OFF]
gcode:
    M106 S0

[gcode_macro Reset_BLtouch]
gcode:
  BLTOUCH_DEBUG COMMAND=reset
    
[gcode_macro START_PRINT]
default_parameter_BED_TEMP: 60
default_parameter_EXTRUDER_TEMP: 215
gcode:
    M117 Homing
    G28                             ; Home all axes
    M117 Probing bed
    #BED_MESH_CALIBRATE              ; Calibrate bed
    BED_MESH_PROFILE LOAD=default   ; Load existing bed profile
    M117 Wait for Bed Temp
    M190 S{BED_TEMP}                ; Wait for Bed Temp
    M117 Wait for Nozzle Temp
    M109 S{EXTRUDER_TEMP}           ; Wait for Nozzle Temp
    M117 Priming Nozzle
    G92 E0                          ; Reset Extruder
    G92 E0                          ; Reset Extruder
    G1 Z5.0 F3000                   ; Move Z Axis up little to prevent scratching of Heat Bed
    G1 X0.1 Y20 Z0.3 F5000.0        ; Move to start position
    G1 X0.1 Y200.0 Z0.3 F1500.0 E15 ; Draw the first line
    G1 X0.4 Y200.0 Z0.3 F5000.0     ; Move to side a little
    G1 X0.4 Y20 Z0.3 F1500.0 E30    ; Draw the second line
    G1 E25                          ; retract 5mm
    G92 E0                          ; Reset Extruder
    G4 S1                           ; Pause for 1 second
    G1 Z10 F3000                    ; Move Z Axis up little to prevent scratching of Heat Bed
    M117 Loading Custom Settings
    Custom_Settings                 ; Loading custom settings macro.
    M117 Printing

[gcode_macro END_PRINT]
gcode:
    G1 Y190 F1500                   ; bring Y up front 
    G10                             ; set tool offset?  or retract?
    G91                             ; Relative Positioning
    G1 Z+20                         ; Move Z up so it doesn't hit anything
    G1 E-10 F300                    ; Retract-10
    M104 S0                         ; Turn off Extrude (set it to 0)
    M140 S0                         ; Turn off Bed (set it to 0)
    M106 S0                         ; turn off cooling fan
    M84                             ; Disable steppers
    M117 Print complete             ; Print message on display
    
[gcode_macro Custom_Settings]
gcode:
    SET_GCODE_OFFSET Z_ADJUST=+0.10 MOVE=1
